body {
  color: #FFF;
  background-color: #000;
}

.grid {
  background-color: #17153B;
}

.navigation {
  color: #FFF;
  background-color: #17153B;
}

.navigation a:hover, .dpdwn:hover {
  background-color: #0C0A1C;
}

#section0 {
  background-color: #000;
}

.content::-webkit-scrollbar, .navigation::-webkit-scrollbar {
  background-color: #000;
}

.content::-webkit-scrollbar-thumb, .navigation::-webkit-scrollbar-thumb {
  background-color: #FFF;
}

.grid-image {
  background-color: #17153B; /* Fallback solid color */
  background-image: linear-gradient(to bottom, #0C0A1C 0%, #17153B 100%);
}

a {
  color: #FFFFFF;
}

.blur-top {
  background: linear-gradient(to bottom, white, transparent);
}

.blur-bottom {
  background: linear-gradient(to top, white, transparent);
}
