body {
  margin: 0;
}

.navigation {
  background-color: #DDDDDD;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.grid {
  background-color: #DDDDDD;
  padding: 10px;
}

.grid-image img {
  height: 20vw;
}
