body {
  margin: 0;
}

.navigation {
  background-color: #DDDDDD;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2vw;
  flex-direction: row;
  justify-content: center;
}

.grid {
  background-color: #DDDDDD;
  padding: 10px;
}

.grid-image img {
  height: 20vw;
  min-height: 12vw;
}

.span[onclick~="changeTheme"]:hover {
  cursor: pointer;
}
